@{
    ViewBag.Title = "IaaS versus SaaS";
}
<h2>@ViewBag.Title.</h2>
<h3>1. Deploy a website to Private Cloud (IaaS)</h3>
<p> Host a Website on IIS: </p> 
<p><a href="https://www.guru99.com/deploying-website-iis.html" class="btn btn-primary btn-lg">Setup & Deploy Web Application &raquo;</a>
</p>
<h3>2. Deploy a website to Azure with Azure App Service (SaaS)</h3>
<p>Azure App Service enables you to build and host web apps, mobile back ends, and RESTful APIs in the programming language of your choice without managing infrastructure.</p>
<p><a href="https://docs.microsoft.com/en-us/azure/app-service/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
