@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Types of cloud services</h1>
    <p class="lead">When talking about cloud computing, there are three major categories. It's important to understand them because they are used in conversation, documentation, and training.</p>
    <p><a href="https://docs.microsoft.com/en-us/learn/modules/principles-cloud-computing/5-types-of-cloud-services" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Infrastructure as a service (IaaS)</h2>
        <p>
            Infrastructure as a Service is the most flexible category of cloud services. 
            It aims to give you complete control over the hardware that runs your application 
            (IT infrastructure servers and virtual machines (VMs), storage, networks, and operating systems). 
            Instead of buying hardware, with IaaS, you rent it. It's an instant computing infrastructure, provisioned and managed over the internet.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Platform as a service (PaaS)</h2>
        <p>PaaS provides an environment for building, testing, and deploying software applications. 
        The goal of PaaS is to help you create an application quickly without managing the underlying infrastructure. 
        For example, when deploying a web application using PaaS, you don't have to install an operating system, web server, or even system updates.</p>
    </div>
    <div class="col-md-4">
        <h2>Software as a service (SaaS)</h2>
        <p>YSaaS is software that is centrally hosted and managed for the end customer. It is usually based on an architecture where one version of the application is used for all customers, 
        and licensed through a monthly or annual subscription. Office 365, Skype, and Dynamics CRM Online are perfect examples of SaaS software.</p>
    </div>
</div>